$font-main: Helvetica, sans-serif;

$color-bg-primary: #DEDEDE;
$color-bg-dark: #333;
$color-bg-red: #da2b25; 
$color-bg-green: #38a737;

$color-primary: #307dcf;
$color-white: #FFF;

$size-middle: 1.3em;

$width-tablet: 1000px;
$width-phone: 600px;